extends layouts/mainLayout.pug

block content
    script.
        let postId = '!{postId}'
    +createReplyModal(userLoggedIn)
    +createPostsModal(userLoggedIn)
    .clearfix
    .postsContainer

block scripts
  script(src="/js/postPage.js")