mixin createPostForm()
    .postFormContainer
        .form-group.textareaContainer
            textarea#postTextarea.form-control(rows='3', placeholder="What's happening")
        .submitButton
            button#submitPostButton.btn.btn-primary.mb-2(disabled="true") Post